html, body {
    height: 100%; /* needed to base the height calculations */
    margin: 0; /* override default browser margin */
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* minimum height of the viewport */
}

.container {
    flex: 1; /* grows to take up available space */
}
