@model ToDo.Models.Note

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Content Field -->
            <div class="form-outline mb-4" data-mdb-input-init>
                <input asp-for="content" class="form-control" id="content" />
                <label asp-for="content" class="form-label"></label>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>

            <!-- Date Field -->
            <div class="form-outline mb-4">
                <label asp-for="date" class="form-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
