@model ToDo.Models.Note

@{
    ViewData["Title"] = "Details";
}


<div class="card text-center border border-primary shadow-0 mb-3" style="max-width: 18rem; margin: 0 auto; padding-top: 10px">
    <div class="card-header">Note</div>
    <div class="card-body">
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Content:</strong> @Html.DisplayFor(model => model.content)</li>
            <li><strong>Date:</strong> @Html.DisplayFor(model => model.date)</li>
        </ul>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>