@model ToDo.Models.Note

@{
    ViewData["Title"] = "Details";
}


<div style="display: flex; justify-content: center; align-items: center; height:50vh">
    <div class="card text-center border border-primary shadow-0 mb-3" style="max-width: 28rem; padding-top: 10px">
        <div class="card-header"><strong>@Html.DisplayFor(model => model.Title)</strong></div>
        <div class="card-body" style="text-align: left;">
            <ul style="list-style-type: none; padding: 0;">
                <li><strong>Content:</strong> @Html.DisplayFor(model => model.Content)</li>
                <li><strong>Category:</strong> @Html.DisplayFor(model => model.Category)</li>
                <li><strong>Date Added:</strong> @Model.Date.ToString("dd/MM/yyyy HH:mm:ss")</li>
                <li>
                    <strong>Priority:</strong> @switch (Model.Priority)
                    {
                        case PriorityLevel.Low:
                            <span class="badge rounded-pill badge-success">Low</span>
                            break;
                        case PriorityLevel.Medium:
                            <span class="badge rounded-pill badge-warning">Medium</span>
                            break;
                        case PriorityLevel.High:
                            <span class="badge rounded-pill badge-danger">High</span>
                            break;
                    }
                </li>
                <li>
                    <strong>Completed?:</strong> @switch (Model.Completed)
                    {
                        case false:
                            <span class="badge rounded-pill badge-danger">Not Completed</span>
                            break;
                        case true:
                            <span class="badge rounded-pill badge-success">Completed</span>
                            break;
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

