@model ToDo.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-outline mb-4" data-mdb-input-init>
                <input asp-for="Title" class="form-control" id="title" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <!-- Content Field -->
            <div class="form-outline mb-4" data-mdb-input-init>
                <input asp-for="Content" class="form-control" id="content" />
                <label asp-for="Content" class="form-label"></label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Category" class="form-label">Category</label>
                <select asp-for="Category" class="form-control" id="category">
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Priority" class="form-label">Priority</label>
                <select asp-for="Priority" class="form-control" id="priority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
